.link-card {
  background-color: white;
  padding: 15px;
  width: 95%;
  margin: 30px auto;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px 1px grey;
}

.card-title {
  font-size: 20px;
  margin: 10px 0;
  margin-top: 0;
  color: #2d96b9;
}
.card-timestamps {
  position: absolute;
  right: 10px;
  bottom: 2px;
}
.link-card-viwes {
  font-size: 20px;
  font-weight: bold;
}
.views-icon {
  height: 20px;
  margin-top: 5px;
}


.long-link-icon {
  height: 20px;
  margin-top: 10px;
}
.log-url-icon {
  height: 23px;
}
.short-url-link {
  text-decoration: none;
  color: red;
  font-size: 18px;
}
.target-url-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.link-key {
  color: black;
  font-size: 17px;
  margin-right: 10px;
  font-weight: bold;
}

.copy-img-icon {
  height: 40px;
  position: absolute;
  top: 23px;
  right: 30px;
  cursor: pointer;
}



/* Media queries for mobile devices */
@media screen and (max-width: 600px) {
  .link-card {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 3px 3px 8px 1px grey;
  }

  .card-title {
    font-size: 18px;
    text-align: center;  }

  .copy-img-icon {
    height: 30px;
    top: 20px;
    right: 20px;
  }

  .link-card-viwes {
    font-size: 18px;
  }

  .views-icon,
  .long-link-icon,
  .log-url-icon {
    height: 18px;
  }
 

  .short-url-link,
  .target-url-link {
    font-size: 16px;
  }

  .link-key {
    font-size: 16px;
  }
  .link-card-views-text {
    display: none;
  }
  .card-timestamps {
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin: 0;
  }
}


