.navbar-main-container {
  background-color: #727D73;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.login-user-container {
  position: absolute;
  right: 20px;
}

.logo-icon {
  padding-left: 20px;
  padding-right: 5px;
  height: 50px !important;
}

.log-name {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.search-item-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.search-item {
  margin: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.search-item:hover {
  box-shadow: 0 0 5px 1px white;
  transition: 0.1s;
  transform: scale(1.05);
}

.search-item-username {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.search-item-logout {
  font-size: 20px;
  color: white;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.search-item-logout:hover {
  box-shadow: 0 0 5px 1px white;
  transition: 0.1s;
  transform: scale(1.05);
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    margin-left: 92%;
    width: 25px;
  }
  .navbar-main-container {
    height: 100px;
  }

  .search-item-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 35px;
    background-color: #4da6ff;
    padding: 5px;
    border-radius: 3px;
    height: 130px;
  }

  .search-item-container.active {
    display: flex;
  }

  .search-item {
    margin: 0px;
    font-size: 17px;
    font-weight: 550;
    color: black;
  }

  .search-item:hover {
    box-shadow: none;
  }

  .search-item-logout {
    font-size: 17px;
    font-weight: 550;
    margin: 0;
    color: #000;
  }

  .search-item-logout:hover {
    box-shadow: none;
  }

  .search-item-username {
    font-size: 15px;
    font-weight: 550;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .search-item-username {
    display: block;
  }
  .navbar-main-container {
    height: 100px;
  }
  .menu-icon {
    display: block;
    margin-left: 92%;
  }
  .login-user-container {
    position: absolute;
    right: 0px;
  }
  .logo-icon {
    padding-left: 10px;
    height: 48px !important;
  }
}
