.navbar-main-container {
  /* background-color: #6246ea; */
  background-color: #4a0080;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 13%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.logo-icon {
  height: 50px;
}
.log-name {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.log-name:hover {
  /* transform: scale(1.05); */
}

.search-item-container {
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item {
  margin: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.search-item:hover {
  box-shadow: 0 0 5px 1px white;
  transition: 0.1s;
  transform: scale(1.05);
}

.search-item-username{
  font-size: 20px;
  color: white;
  font-weight: 500;
 }
 .search-item-logout{
  font-size: 20px;
  color: white;
  font-weight: 600;
   padding: 8px 20px;  border-radius: 20px;
 }
 .search-item-logout:hover {
  box-shadow: 0 0 5px 1px white;
  transition: 0.1s;
  transform: scale(1.05);
}


/* For large devices (desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .navbar-main-container {
    height: 120px;
  }

  .log-name {
    font-size: 30px;
  }

  .search-item {
    font-size: 22px;
  }

  .search-item-username,
  .search-item-logout {
    font-size: 22px;
  }
}

/* For medium devices (tablets, 768px to 1199px) */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-main-container {
    height: 90px;
  }

  .log-name {
    font-size: 23px;
  }

  .search-item {
    font-size: 18px;
  }

  .search-item-username,
  .search-item-logout {
    font-size: 18px;
  }
}

/* For small devices (landscape phones, 576px to 767px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .navbar-main-container {
    height: 80px;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    width: 100%;
    justify-content: flex-start;
    margin: 10px;
  }

  .log-name {
    font-size: 22px;
  }

  .search-item-container {
    justify-content: flex-start;
    margin: 10px;
  }

  .search-item {
    font-size: 18px;
    padding: 5px 15px;
  }

  .search-item-username,
  .search-item-logout {
    font-size: 18px;
  }
}

/* For extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575px) {
  .navbar-main-container {
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    width: 100%;
    justify-content: flex-start;
    margin: 5px;
  }

  .log-name {
    font-size: 20px;
  }

  .search-item-container {
    justify-content: flex-start;
    margin: 5px;
  }

  .search-item {
    font-size: 16px;
    padding: 5px 10px;
  }

  .search-item-username,
  .search-item-logout {
    font-size: 16px;
  }
}

