.footer-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #344e56;
  height: 30vh;
}

.footer-item {
  text-align: start;
  height: 15vh;
  width: 20.5%;
  position: relative;
}

.footer-logo-item-container {
  height: 15vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}

.logo-icon {
  height: 60px;
  margin: 2px;
}

.logo-text {
  margin: 0;
  font-size: 20px;
  color: white;
}

.logo-text:hover {
  color: #8080ff;
  transition: 0.2s;
  cursor: pointer;
}

.footer-text {
  font-size: 17px;
  margin: 5px;
  padding: 0;
  color: white;
  text-decoration: none;
}

.footer-text:hover {
  color: #8080ff;
  transition: 0.2s;
  cursor: pointer;
}
.loction-icon {
  height: 35px;
  position: absolute;
  top: -9px;
  left: -38px;
  cursor: pointer;
}
.loction-icon:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

/* Media Query for Tablets (768px and up) */
@media (max-width: 1024px) {
  .footer-item {
    width: 45%;
    margin-bottom: 20px;
  }

  .footer-logo-item-container {
    width: 20%;
  }
}

/* Media Query for Mobile (480px and up) */
@media (max-width: 768px) {
  .footer-main-container {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .footer-item {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-logo-item-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo-icon {
    height: 50px;
  }

  .logo-text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .footer-item {
    font-size: 14px;
  }

  .footer-text {
    font-size: 15px;
  }
}
