.home-main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7%;
}

.home-information-container {
  height: 485px;
  width: 40%;
  margin: 10px;
}

.home-form-container {

width: 35%;
padding: 20px;
  
  margin: 10px;

}

.information-text {
  font-size: 18px;

}





.main-container {
  /* background-color: #F0F0D7; */
 height: 400px;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px grey;
}

.app-title {
  font-size: 25px;
  text-align: center;
  color: #AAB99A;
}

.app-paragraph {
  text-align: center;
  padding-top: 5%;
  font-size: 27px;
  font-weight: 550;
  color: #798679;

}

.link-form {
  display: block;
  margin: 0 auto;
  /* background-color: #F0F0D7; */
  padding: 20px;
  border-radius: 10px;
}

.link-input {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 30px;
  font-size: 20px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid skyblue;
}

.link-input:focus,
.use:active {
  outline: none;
}

.link-button {
  background-color: #3399ff;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 7px 40px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.link-button:hover {
  background-color: #262626;
  transition: 0.1s;
  transform: scale(1.05);
}


@media screen and (min-width:992px) and (max-width:1200px) {
  .main-container {
    width: 60%;
  }
}

@media screen and (min-width:769px) and (max-width:993px) {
  .main-container {
    width: 70%;
  }
}

@media screen and (min-width:600px) and (max-width:768px) {
  .main-container {
    width: 80%;
  }

  .app-paragraph {
    font-size: 23px;
    font-weight: 550;
  }

}

@media screen and (min-width:400px) and (max-width:601px) {
  .main-container {
    width: 80%;
  }

  .app-paragraph {
    font-size: 20px;
    font-weight: 550;
  }

  .app-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .main-container {
    width: 85%;
    margin: 10% auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px grey;
  }

  .app-title {
    font-size: 18px;
  }

  .app-paragraph {
    padding-top: 25px;
    font-size: 20px;
  }

  .link-input {
    font-size: 16px;
    height: 28px;
  }

  .link-button {
    font-size: 16px;
    padding: 5px 30px;
    margin-top: 30px;
  }
}