/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
    /* background-color: #fffffe; */
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



